.page-footer {
    background-color: rgba($color-light, 0.8);

    &_copyright {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: $color-light;
        font-size: 1.25rem;
    }
}